<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift_novels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>546BF79F1D9F869A00542849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>546BF7B31D9F869B00542849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>546BF7BE1D9F869B00542849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
